
/* This is the part you will want to copy if you want to use the font-face glyphs on your own websites */
@font-face {
  font-family: 'socialglyphs';
  src: url('../fonts/socialglyphs-regular.eot');
  src: url('../fonts/socialglyphs-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/socialglyphs-regular.woff') format('woff'),
       url('../fonts/socialglyphs-regular.ttf') format('truetype'),
       url('../fonts/socialglyphs-regular.svg#socialglyphs') format('svg');
}
.social-glyph{position:relative;display:inline-block;font-family:'socialglyphs';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.social-glyph-fb:after{content:'\66';}
.social-glyph-twitter:after{content:'\74';}
.social-glyph-linked-in:after{content:'\69';}  
